---
layout: base.liquid
---
<div class="timeline">
  {% comment %} Displaying in reverse chronological order {% endcomment %}
  {% assign notes = collections.note | reverse %}
  {% render 'note' for notes as note %}
</div>
